<ng-template #content let-modal>

  <div class="modal-header">
    <label class="label-header">Editar</label>
  </div>

  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" *ngIf='msgAlert' [innerHtml]='msgAlert' role="alert">
          </div>
          <form [formGroup]="form" (submit)='update()'>
            <div class="row">
              <div class="col-md-6">
                <label>Registro Empregado</label>
                <input type="text" class='form-control' maxlength="10" (keyup)='removeChar($event)' formControlName='re'>
              </div>

              <div class="col-md-6">
                <label>Nome do Funtionario</label>
                <input type="text" class='form-control' maxlength="100" formControlName='name'>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Cargo</label>
                <select  formControlName='functionEmployeeId'class="custom-select">
                  <option *ngFor='let item of mockFunctionEmployee' value="{{item.id}}">{{item.name}}</option>
                </select>
              </div>
    
              <div class="col-md-6">
                <label>Cliente</label>
                <input type="text" class='form-control' maxlength="40" formControlName='client'>
              </div>
    
          
            </div>
            <div class="col-md-12  mt-5 row">
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary col-md-12 ">
                  Enviar
                </button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-cancel col-md-12 " id="btn-close" (click)="modal.dismiss('Cross click')" >
                  Cancelar
                </button>
              </div>              
              <div class="col-md-4">
                <button (click)='cleanForm()' type="button" class="btn btn-ligth col-md-12">
                  Limpar Campos
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

