<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!-- <div class="col-md-12 row">
        <div class="line-orange col-md-4" style="background-color: orange; height: 10px; width: 1%; border-radius: 2px;">Casos Confirmados</div>
        <div class="line-danger col-md-4" style="background-color: red; height: 10px; width: 1%; border-radius: 2px;">Mortes</div>
        <div class="line-green col-md-4" style="background-color: green; height: 10px; width: 1%; border-radius: 2px;">Vacinados</div>
      </div> -->

      <div class="col-md-12">
        <div echarts [options]="chartOption" class="demo-chart"></div>
      </div>

    </div>
  </div>
</div>
